.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }

  &-column-reverse {
    flex-direction: column-reverse;
  }

  &-center {
    justify-content: center;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-evenly {
    justify-content: space-evenly;
  }

  &-hor-start {
    justify-content: flex-start;
  }

  &-hor-end {
    justify-content: flex-end;
  }

  &-vert-start {
    align-items: flex-start;
  }

  &-vert-end {
    align-items: flex-end;
  }

  &-stretch {
    align-items: stretch;
  }

  &-baseline {
    align-items: baseline;
  }
}
