@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=swap');


body {
  color: #2c3e50;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 0.9em;
  font-weight: 400;
  margin: 1em 0;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}





